{% extends '_layouts/default.twig' %}

{% set title     = 'Welcome' %}
{% set home      = 'true'    %}
{% set id        = 'home'    %}
{% set data_page = 'home'    %}

{% block body %}

<div class="lgl-form lgl-forms__javascript">
  <script type="text/javascript" src="https://secure.lglforms.com/form_engine/s/f_ZECHNm_zI0UkbvnK0ckw.js"></script><noscript><a href="https://secure.lglforms.com/form_engine/s/f_ZECHNm_zI0UkbvnK0ckw">Get Started!</a></noscript>
</div>
{% endblock %}
